<div class= "row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpg" class="img-fluid" id="fotoperfil" >
   </div>


 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
   <p id="nombre">Carlos Eduardo Zarate</p>
   <p>Full Starck Developer Jr</p>
 </div>
 <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
   <span>
     <h1>Acerca de mi</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum magni ipsa sequi praesentium quia dolor nostrum accusantium adipisci dolores quis, debitis ea amet minima reprehenderit molestias unde ipsum consectetur! Qui.</p>
   </span>
  </div>
</div>  