<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudio 1</h2> - <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quae libero? Dolore doloremque quos nobis cum hic eligendi minima, aliquam repellat voluptatem cupiditate odit totam commodi ab itaque placeat maxime!
            </p>
        </ul>
        <ul>
            <li>
                <h2>Estudio 2</h2> - <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quae libero? Dolore doloremque quos nobis cum hic eligendi minima, aliquam repellat voluptatem cupiditate odit totam commodi ab itaque placeat maxime!
            </p>
        </ul>
        <ul>
            <li>
                <h2>Etudio 3</h2> - <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quae libero? Dolore doloremque quos nobis cum hic eligendi minima, aliquam repellat voluptatem cupiditate odit totam commodi ab itaque placeat maxime!
            </p>
        </ul>

    </div>

</div>