.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img{
    width: 50px;
    background-color: rgb(28, 28, 233);
    border-radius: 100%;
}
#logoAP{
    width: 150px;
    background-color:transparent;

}
.btn{
 
    border-color: aliceblue;
    border-width: 2px;
}
