<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <h2>ENCRIPTADOR</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente iure nesciunt nemo! Perspiciatis, animi optio. Labore quam repellendus laboriosam ex corporis, debitis, enim quisquam ea eius natus voluptas placeat voluptatfbxcvbibus.
            </p>
        </div>
        <div>
            <img src="">

        </div>
    </div>
</div>
